/* -------------------------------------------
Variables
------------------------------------------- */
// @use "./variables.scss" as *;

/* -------------------------------------------
Grid
------------------------------------------- */
@use "./grid/css-grid.scss" as grid;

// html {
//   scroll-behavior: smooth;
//   font-size: 18px;
//   max-width: 100%;
//   overflow-x: hidden;
//   @media screen and (max-width: $xl) {
//     font-size: 16px;
//   }

//   @media screen and (max-width: $md) {
//     font-size: 14px;
//   }
// }

// body {
//   margin: 0 !important;
//   padding: 0 !important;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
//     Ubuntu, Cantarell, sans-serif, Ubuntu, Cantarell, sans-serif;
//   background-color: var(--body-bg) !important;
//   color: var(--text-color);
//   max-width: 100%;
//   overflow-x: hidden;
//   -webkit-font-smoothing: antialiased;
//   -moz-font-smoothing: antialiased;
//   transition: all 0.4s ease 0s;
//   @media screen and (max-width: 991px) {
//     background-size: 100%;
//   }
//   a {
//     color: inherit;
//   }
// }

// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

// a,
// button {
//   cursor: pointer !important;
//   *,
//   *::after,
//   *::before {
//     cursor: pointer !important;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
// }

// img {
//   max-width: 100%;
//   display: block;
//   height: auto;
// }

// .primary-color {
//   color: var(--primary-color);
// }

// .secondary-color {
//   color: var(--secondary-color);
// }

// .text-color {
//   color: white;
// }

// .text-grey {
//   color: #d1d1d6;
// }
// hr {
//   margin: var(--space-lg) 0;
//   padding: 0;
//   border-color: var(--border-color);
// }
