
  .ourProducts{
font-weight: 400;
font-size: 56px;
line-height: 110%;
text-transform: capitalize;
color: #0F0F0E;
  }

.productDetail{
font-weight: 300;
font-size: 22px;
line-height: 150%;
color: #0F0F0E;
}


.products{
  padding-bottom: 56px;
  border-bottom: 1px solid #0F0F0E;
  padding-top: 56px
;
.sequence{
  width: 88px;
  height: 88px;
  background: #EEEEEE;
  border-radius: 100px;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0F0F0E;
  }
  
  .heading{
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  color: #0F0F0E;
  display: flex;
  padding-top: 20px;
  gap: 24px;

  .tag{
    
    justify-content: center;
    align-items: center;
    padding: 17px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #0F0F0E;
    background: #EFEFEF;
    border-radius: 8px;

    }
}

.description{
font-weight: 300;
font-size: 18px;
line-height: 150%;
color: #0F0F0E;
padding-top: 20px;
}
}


.productlast{
  padding-top: 56px
;
.sequence{
  width: 88px;
  height: 88px;
  background: #EEEEEE;
  border-radius: 100px;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0F0F0E;
  }
  
  .heading{
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  color: #0F0F0E;
  display: flex;
  padding-top: 20px;
  gap: 24px;

  .tag{
    
    justify-content: center;
    align-items: center;
    padding: 17px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #0F0F0E;
    background: #EFEFEF;
    border-radius: 8px;

    }
}

.description{
font-weight: 300;
font-size: 18px;
line-height: 150%;
color: #0F0F0E;
padding-top: 20px;
}
}
.sequence{
    width: 88px;
    height: 88px;
    background: #EEEEEE;
    border-radius: 100px;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0F0F0E;
    }
    
    .heading{
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-transform: capitalize;
    color: #0F0F0E;
    display: flex;
    padding-top: 20px;
    gap: 24px;

    .tag{
      
      justify-content: center;
      align-items: center;
      padding: 17px 20px;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      color: #0F0F0E;
      background: #EFEFEF;
      border-radius: 8px;

      }
}

.description{
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #0F0F0E;
}
    
