.footer {
  position: relative;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(
    95.54deg,
    #0a0908 24.39%,
    #0f2738 63.85%,
    #11334a 79.78%,
    #17527b 98.51%
  );
}

.decorRight {
  position: absolute;
  top: 0;
  right: 0;
}

.decorLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.outer {
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    display: none;
  }
}

.outers {
  display: flex;
  justify-content: center;
  display: none;
  @media (max-width: 600px) {
    display: flex;
  }
}

.content {
  position: relative;
  z-index: 10;
  max-width: 1600px;
  width: 100%;
  padding-top: 6.25rem;
  @media (max-width: 600px) {
    padding-top: 53px;
  }
}

.container {
  margin: 0 auto;
  padding: 2.5rem 1rem; // py-10 + px-4
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.5rem; // gap-6
}

.cell {
  padding: 1rem; // p-4
  background-color: #93c5fd; // approx tailwind blue-300/200-ish
}
.cellBlue500 {
  background-color: #3b82f6;
}
.cellBlue400 {
  background-color: #60a5fa;
}
.cellBlue300 {
  background-color: #93c5fd;
}
.cellBlue200 {
  background-color: #bfdbfe;
}

// .brand {
//   font-size: 14rem;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }

.brand {
  font-size: 12rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: -80px;
}

@media (max-width: 1024px) {
  .brand {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .brand {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .brand {
    font-size: 3rem;
  }
}

.Text {
  font-weight: 400;
  font-size: 15.8px;
  line-height: 18px;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.email {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12.5px);
  border-radius: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.signup {
  background: #f5f5f5;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 14px 0;
  color: #181818;
}

.input {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12.5px);
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  padding: 12px 20px;

  &:focus {
    outline: none;
    border-color: #2996a2;
  }

  &::placeholder {
    color: #9ca3af;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .field {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }

  .fields {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;

    color: #ffffff;
  }
}

.flex {
  display: flex;
  gap: 12px;
  align-items: center;
}

.flexs {
  display: flex;
  gap: 100px;
  padding-bottom: 48px;
}

.moreaboutus {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 32px;
}

.contactUs {
  display: flex;
  gap: 48px;

  @media (max-width: 600px) {
    gap: 20px;
    padding-bottom: 32px;
  }
}

.contact {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.4;

  @media (max-width: 480px) {
    font-size: 19px;
  }
}

.contacts {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.4;
}
.number {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

.ppo {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.7);
  width: 80px;
}

.termandservice {
  margin-top: 93px;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  .terms {
    display: flex;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    .support {
      padding-right: 12px;
    }

    .privacy {
      display: flex;
      gap: 32px;
    }
  }

  .images {
    display: flex;
    gap: 18px;
  }

  .social {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 12px;
  }
}

.contactinfo {
  padding-top: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2);
}

.contactuson {
  padding-top: 40px;
  width: 100%;
  margin: 0 10px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2);
}

.navigations {
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  padding-top: 48px;
  padding-bottom: 25px;

  color: #ffffff;
}

.termandservices {
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  .supports {
    padding-right: 12px;
    padding-top: 32px;
    padding-bottom: 58px;
  }

  .terms {
    display: flex;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    .privacy {
      display: flex;
      gap: 32px;
    }
  }

  .images {
    display: flex;
    gap: 18px;
  }

  .social {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 12px;
  }
}

.brands {
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 110%;
  letter-spacing: -0.06em;
  color: #ffffff;
}

.waveCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
}
