.HeroSection{
  padding-top: 144px;
  align-items: center;
  text-align: center;
  justify-content: center;

    .text{
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #1F1F1F; 
      padding-top: 20px;
    }

    .tag{
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #1F1F1F;
      padding: 8px 16px;
      background: #F8F8F8;
      border: 1px solid #E0E0E0;
      border-radius: 24px;
      margin-bottom: 20px;


    }
}