.serviceDetails{
    padding-bottom:120px ;
    padding-top:200px ;
}


.service{
    position: relative;
    background-image: url("/aboutBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    z-index: 2; 

    .image{
        position: absolute;
        right: -190;
        bottom: -2;
        padding-top: 20px;
        z-index: 5; 

    }
    .content{
       padding-top: 600px;

    }
}

.serviceText{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    .text{
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            text-transform: capitalize;
            color: #0A0908;

    }

    .heading{
        font-weight: 700;
        font-size: 56px;
        line-height: 110%;
        text-transform: capitalize;
        color: #0A0908;
    }
}


.about{
    padding-top: 280px;
    padding-bottom: 120px;
    position: relative;

    .image{
        position: absolute;
        right: -14;
        height: 725px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-right: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;

    }

    .images{
        position: absolute;
        left: -14;
        height: 730px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-left: 1px solid #E0E0E0;
        border-right: 1px solid #E0E0E0;



    }

    .content{
        margin-top: 104px;
        margin-bottom: 90px;
        padding: 100px 72px;
        background: #F8F8F8;
        border: 1px solid #E0E0E0;
        border-radius: 0 24px 24px 0;

        .tag{
            display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #1F1F1F;
      padding: 8px 16px;
      background: #F8F8F8;
      border: 1px solid #E0E0E0;
      border-radius: 24px;
      margin-bottom: 20px;
        }

        .heading{
            
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            color: #1F1F1F;
        }

        .context{
            
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #1F1F1F;
        }

    }

    .contents{
        margin-top: 120px;
        padding: 50px 72px;
        background: #F8F8F8;
        border: 1px solid #E0E0E0;
        border-radius:  24px 0 0 24px ;

        .tag{
            display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
      color: #1F1F1F;
      padding: 8px 16px;
      background: #F8F8F8;
      border: 1px solid #E0E0E0;
      border-radius: 24px;
      margin-bottom: 20px;
        }

        .heading{
            
            font-weight: 700;
            font-size: 40px;
            line-height: 130%;
            color: #1F1F1F;
        }

        .context{
            
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #1F1F1F;
        }

    }
}