.card{
background: #F8F8F8;
border: 1px solid #E0E0E0;
border-radius: 24px;
padding: 32px 40px;

  .image{

  }

  .heading{

font-weight: 700;
font-size: 32px;
line-height: 130%;
text-transform: capitalize;
color: #0A0908;

  }

  .content{
font-weight: 400;
font-size: 22px;
line-height: 150%;
color: #0A0908;
    
  }

  .learnmore{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 30px;
    
}
}