.serviceDetails{
    padding-bottom:120px ;
    padding-top:200px ;
}


.service{
    position: relative;
    margin-top: 114px;
    background-image: url("/servicebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px; 
    .image{
        position: absolute;
        right: -43;
        bottom: -50;
        padding-top: 20px;
    }
    .content{
       padding-top: 500px;

    }
}

.serviceText{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    .text{
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            text-transform: capitalize;
            color: #0A0908;

    }

    .heading{
        font-weight: 700;
        font-size: 56px;
        line-height: 110%;
        text-transform: capitalize;
        color: #0A0908;
    }
}