.picture{
    padding-top: 100px;
    padding-bottom: 100px;
}

.productivity{

background: #2996A2;
border-radius: 100px;
color: white;
justify-content: center;
align-items: center;
line-height: 100%;
width: 506px;
height: 103px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;

}

.future{
    color: rgba(10, 9, 8, 0.3);}


.MembershipAccreditation{
background: #F8F8F8;
border-radius: 0px;
width: full;
padding-top: 120px;
padding-bottom: 120px;

.membershipDetail{
    padding-top: 44px;
    padding-bottom: 28px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-right: 1px solid black;
}

    }