.picture{
    padding-top: 100px;
    padding-bottom: 100px;
}

.productivity{

background: #2996A2;
border-radius: 100px;
color: white;
justify-content: center;
align-items: center;
line-height: 100%;
width: 506px;
height: 103px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 10px;

}

.future{
    color: rgba(10, 9, 8, 0.3);}


.MembershipAccreditation{
background: #F8F8F8;
border-radius: 0px;
width: full;
padding-top: 120px;
padding-bottom: 120px;

.membershipDetail{
    padding-top: 24px;
    padding-bottom: 24px;
   
    border-right: 1px solid #474747;

    .registeredCompany{
        
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #444444;}

        .companyId{
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #444444;
        }

        .images{
            height: 49;
        }

        }

        .membershipDetails{
            padding-top: 24px;
            padding-bottom: 24px;
            
            
        
            .registeredCompany{
                
                font-weight: 400;
                font-size: 24px;
                line-height: 140%;
                color: #444444;}
        
                .companyId{
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                color: #444444;
                }

                .images{
                    height: 49;
                }
                
                }

    }


    // whatWeOffer

.whatWeOffer{
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        gap: 200px;
        align-items: center;

        .centerColumn {
            display: flex;
            align-items: center;
              
        }

        .textDetail{
            
            .weOffer{
                font-weight: 400;
                font-size: 64px;
                line-height: 130%;
                color: #0A0908;
            }
            .learnmore{
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }        
}

.Ethics{
    padding-top: 200px;
    padding-bottom: 200px;
}
    